*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(85, 0, 0);
    color: white;
    font-size: 15px;
}
#caixa{
    background-color: rgb(146, 30, 30);
    display: grid;
    grid-template-columns: auto;
}
.sessao{
    display: grid;
    grid-template-columns: auto;
}
.titulo{
    margin-bottom: 5vh;
    font-size: 70px;
}
/*------------------------------------------------------------------------*/
/*----------------------------- Barra scroll -----------------------------*/
::-webkit-scrollbar {
    width: 0.5vw;
}
  
  ::-webkit-scrollbar-track {
    background: rgb(59, 0, 0);
}
  
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(59, 0, 0), rgb(0, 0, 0), rgb(59,0,0));
    border-radius: 20px;
    height: 2px;
}
  ::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(rgb(59, 0, 0), rgb(255, 208, 0),rgb(59, 0, 0));

}
/*------------------------------------------------------------------------*/
/*---------------------------- Barra superior ----------------------------*/
header{
    display: grid;
    grid-template-columns: auto auto;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 8vh;
    padding: 1vh;
    background-color: rgb(85, 0, 0);
    border-radius: 0 0 20px 20px;
}
header h1{
    padding: 1vh;
    width: 50vw;
    height: 6vh;
    font-size: 4vmin;
    overflow-y: hidden;
}
#ferramentas{
    width: 50vw;
    height: 6vh;
    padding: 0 2vw;
    display: flex;                 
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: end;
}
#ferramentas button{
    width: 9vmin;
    height: 6vh;
    margin: 0 0.5vw;
    background-color: transparent;
    border: 0;
    font-size: large;
    color: aliceblue;
    justify-content: flex-end;
}
#ferramentas button:hover{
    color:red;
    background-color: rgb(255, 133, 133);
}
/*------------------------------------------------------------------------*/
/*--------------------------------- Capa ---------------------------------*/
#parte1{
    margin-bottom: 17vh;
    padding-top: 6.5vh;
    height: 100vmin;
    display: inline-flex;
}
#titulos{
    width: auto;
    height: auto;
    position: absolute;
    padding: 4vmin 0 0 14vw;
    font-size: 9vmin;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 1;
}
#titulos h2{
    width: 700px;
    font-size: 200px;
    overflow-y: hidden;
    
}
#titulos h3{
    font-size: 3vmin;
    padding-left: 3vw;
}
#titulos p{
    width: 30vw;
    font-size: 1.8vmin;
    padding-left: 6vw;
}
#parte1 img{
    width: 90vmin;
    height: 120vmin;
    margin-left: 35vw;
    position: absolute;
}
/*------------------------------------------------------------------------*/
/*--------------------------- Sobre Identidade ---------------------------*/
#identidade #MiViVa{
    margin: 0 12.5vw;
    display: grid;
    grid-template-columns: auto auto auto;
}
#identidade div .desc{
    background-color: rgba(85, 8, 8, 40);
    width: 310px;
    height: 350px;
    margin: 2vh 1vw;
    padding: 2vh 2vw;
    border-radius: 2vmax 0;
    font-size: 20px;
}
#identidade #MiViVa .desc h3{
    font-size: 40px;
}
#identidade #MiViVa .desc p{
    padding-left: 30px;
}
/*------------------------------------------------------------------------*/
/*----------------------------- Sobre o Jogo -----------------------------*/

#sobreJogo img{
    width: 900px;
    height: 500px;
    transform: translate(30vw, 25vh);
    position: absolute;
}
#sobreJogo #jogoDesc{
    background-color: rgba(83, 0, 0, 40);
    border-radius: 3vmin;
    width: 900px;
    height: 500px;
    padding: 2vmin 4vmin 8vmin 2vmin;
    margin-left: 8vw;
}
#sobreJogo button{
    width: 140px;
    height: 50px;
    font-size: 20px;
    border-radius: 4vmin;
    border: 0px;
    background-image: linear-gradient(rgb(83, 0, 0), red);
    color:aliceblue;
    transform: translate(0, 300px);
}
/*------------------------------------------------------------------------*/
/*---------------------------- Sobre a equipe ----------------------------*/
#equipe{
    width: 100vw;
}
#membros{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.membro{
    background-color: rgb(255, 255, 255);
    width: 16vw;
    height: 19vw;
    text-align: center;
    margin: 0 2vw;
    border-radius: 0 2vmin;
    overflow-y: hidden;
}
.membro .infoMembro{
    display: block;
    padding-top: 2vh;
    background-color: rgb(219, 219, 219);
}
.membro .infoMembro img{
    width: 11vw;
    height: 13vw;
    margin: auto;
}
.membro h2{
    font-size: 2vh;
}
.membro .links{
    display: inline-flex;
    margin-top:0.5vmax
}
.membro .links img{
    width: 2.5vw;
    height: 2.5vw;
    margin: 0 0.25vmax;
}
.membro .links div{
    padding-right: 0.25vw;
    display: inline-flex;
    margin-right: 1.5vw;
}
.membro .links h4{
    font-size: 1vmax;
    width: 4.5vw;
    margin: auto;
}
.membro h3{
    width: 18vw;
    height: 4vh;
    margin-bottom: 2vmin;
    padding-top: 1.5vh;
    position: absolute;
    font-size: 1vmax;
    transform: rotate(270deg) translate(11vw, -27.8vw);
}
/*------------------------------------------------------------------------*/
/*----------------------------- Contate-nos -----------------------------*/
#contato{
    color: aliceblue;
    border-radius: 2vmin;
    text-align: center;
    margin: 0 auto;
    overflow-y: hidden;
}
#contato h2{
    width: 40vmin;
    height: 6vh;
    border-radius: 2vmin;
    font-size: 5vh;
    margin: 1.5vh auto;
}
#contato div{
    width: 40vmin;
    height: 37vh;
    background-color: rgba(92, 0, 0, 70);
    padding: 1.25vh 1.25vw;
    border-radius: 2vmin;
    margin: 0 auto;
}
#contato textarea{
    background-color: rgba(65, 0, 0,70);
    border-radius: 2vmin;
    border: 0;
    text-align: left;
    width: 30vmin;
    padding: 1vh 1.5vw;
    resize: none;
    font-size: 2vh;
    color: white;
    overflow-y: hidden;
}
#contato .email{
    height: 3vh;
    margin-bottom: 2vh;
}
#contato .mensagem{
    height: 20vmin;
    margin-bottom: 1vh;
}
#contato button{
    width: 14vmin;
    height: 5vh;
    font-size: 2vh;
    border-radius: 4vmin;
    border: 0px;
    background-image: linear-gradient(rgb(83, 0, 0), red);
    color:aliceblue;
    margin: 0.5vh 3vw 0 3vw;
}