*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(85, 0, 0);
}
#caixa{
    background-color: rgb(146, 30, 30);
    width: 90vw;
    height: auto;
    margin: 0 3.1vw;
    padding: 2.5vw 3vh;
}
.sessao{
    width: 90vw;
    height: 80vh;
    margin-bottom: 20vh;
}
/*------------------------------------------------------------------------*/
/*---------------------------- Barra superior ----------------------------*/
header{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 6.5vh;
    background-color: rgb(58, 0, 0);
    display: inline-flex;
    padding: 0 2.5vw;
}
header h1{
    width: 25vw;
    height: 4.5vh;
    margin: 0.6vh 0 1.5vh 0;
    font-size: 4vmin;
    overflow-y: hidden;
}

#ferramentas{
    width: 55vw;
    height: 6vh;
    margin-left: 25vw;
    padding: 0 2.5;
}
#ferramentas button{
    width: 7vw;
    height: 3vh;
    margin: 1.5vh 0.5vw;
    background-color: transparent;
    border: 0;
    font-size: large;
}
#ferramentas button:hover{
    color:red;
}
#ferramentas img{
    width: 6vmin;
    height: 6vmin;
    position: absolute;
}
/*------------------------------------------------------------------------*/
/*--------------------------------- Capa ---------------------------------*/
#parte1{
    padding-top: 6.5vh;
    height: 65vmin;
    display: inline-flex;
}
#titulos{
    width: 40vw;
    height: 50vh;
    padding: 12vmin 0 0 10vw;
    font-size: 4vmin;
    color: white;
    overflow-y: hidden;
}
#titulos h3{
    font-size: 3vmin;
    padding-left: 6vw;
}
#titulos p{
    width: 30vw;
    font-size: 1.8vmin;
    padding-left: 6vw;
}
#parte1 img{
    width: 60vmin;
    height: 60vmin;
    margin-left: 10vw;
}
/*------------------------------------------------------------------------*/
/*----------------------------- Sobre o Jogo -----------------------------*/
#sobreJogo{
    background-image: url(https://store-images.s-microsoft.com/image/apps.8756.13718773309227929.36e1f99a-b689-4a29-822c-9d35967895fd.ddb6bcde-0936-4bac-b835-ee541bd90364);
    overflow-y: hidden;
}
#sobreJogo div{
    background-image:linear-gradient(to right, rgba(0, 0, 0, 100),rgba(100, 0, 0, 50), transparent);
    width: 70vw;
    height: 80vh;
    padding: 1vh 20vw 1vh 2vw;
    text-align: justify;
    color: aliceblue;
    font-size: 2vh;
}
#sobreJogo div p{
    width: 40vw;
    margin-bottom: 1.5vh;
}
#sobreJogo img{
    width: 60vw;
    height: 60vh;
    left: 20vw;
    bottom: 40vh;
}
/*------------------------------------------------------------------------*/
/*---------------------------- Sobre a equipe ----------------------------*/

#equipe{
    width: auto;
    display: block;
}
#equipe .titulo{
    margin-bottom: 5vh;
    font-size: 4vw;
}
#membros{
    width: auto;
    display: inline-flex;
}

.membro{
    background-color: rgb(255, 255, 255);
    width: 18vw;
    height: 45vh;
    text-align: center;
    margin: 0 2vw;
    border-radius: 30px 30px 0 30px;
}
.membro .infoMembro{
    display: block;
    padding-top: 2vh;
    background-color: rgb(190, 190, 190);
}
.membro img{
    width: 13vw;
    height: 13vw;
    margin: 4vh 0;
}
.membro .links{
    display: inline-flex;
    margin: 1vh 1vw;
}

.membro .links div{
    padding-right: 4vh;
    display: inline-flex;
}
.membro .links img{
    width: 3vmin;
    height: 3vmin;
    margin: 0.5vh 0.25vw;
    padding: 0.5vh 0.25vw;
}
.membro h3{
    width: 18vw;
    height: 4vh;
    margin-bottom: 2vh;
    padding-top: 1.5vh;
    position: absolute;
    background-color: transparent;
    transform: rotate(270deg) translate(11vw, -16vh);
}
.membro ul{
    list-style: none;
}
.membro ul li{
    margin-top: 1vh;
}
/*------------------------------------------------------------------------*/
/*----------------------------- Contate-0nos -----------------------------*/
#contato{
    color: aliceblue;
    border-radius: 30px;
    text-align: center;
    width: 32.5vw;
    height: 55vh;
    margin: 0 26.25vw;
    padding: 0 2.5vw 5vh 2.5vw;
    overflow-y: hidden;
}
#contato div{
    width: 20vw;
    height: 37vh;
    background-color: rgba(92, 0, 0, 70);
    padding: 1.25vh 1.25vw;
    border-radius: 30px;
    margin: 0 5vw;
}
#contato textarea{
    background-color: rgba(65, 0, 0,70);
    border-radius: 30px;
    border: 0;
    text-align: left;
    width: 15vw;
    padding: 1vh 1.5vw;
    resize: none;
    font-size: 2vh;
}
#contato .email{
    height: 3vh;
    margin-bottom: 2vh;
}
#contato .mensagem{
    height: 20vh;
    margin-bottom: 1vh;
}
#contato h2{
    width: 30vw;
    height: 6vh;
    border-radius: 30px;
    font-size: 5vh;
    margin: 1.5vh 1.25vw;
}
#contato button{
    width: 7vw;
    height: 5vh;
    font-size: 2vh;
    border-radius: 30px;
    border: 0px;
    background-image: linear-gradient(rgb(83, 0, 0), red);
    color:aliceblue;
    margin: 0.5vh 3vw 0 3vw;
}